In [1]:
#Loops

In [2]:
range(10)

range(0, 10)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [10]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
#String
str="Siva Prasad"

In [12]:
for i in str:
    print(i)

S
i
v
a

P
r
a
s
a
d

In [ ]:
#While Loop
##While Loop is Continues to execute as Long as the Condition is True.

count=0
while count<5:
    print(count)
    count=1+count

0
1
2
3
4

In [19]:
##Loop Control Statement
##Break
#The break Statement Exits the loop permaturely

## Break Statement

for i in range(10):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [21]:
## Continue

## The Continue Statemet Skips the Current Iteration and Continues with the Next.

for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [22]:
## Continue

## The Continue Statemet Skips the Current Iteration and Continues with the Next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [24]:
##Pass
## The Pass Statement is a Null operation; it does nothing

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [26]:
### Nested Loops
## a Loop inside a Loop

for i in range(4):
    for j in range(3):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:3 and j:0
i:3 and j:1
i:3 and j:2

In [29]:
## Examples - Caluculate the Sum of first of N natural Number using a while and for loop

## while Loop

n=10
sum=0
count=1
while count<=n:
    sum=sum+count
    count=count+1
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [31]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97